.PlayerTile {
  background-color: #333;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}

.PlayerTile--active {
  background-color: #999;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}

.PlayerTile--playing {
  background-color: khaki;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}

.PlayerTile--active-and-playing {
  background-color: seagreen;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}
