.PlayerTile {
  background-color: #444;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}

.PlayerTile--active {
  background-color: steelblue;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}

.PlayerTile--playing {
  background-color: #666;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}

.PlayerTile--active-and-playing {
  background-color: dodgerblue;
  border: 0.1em solid #222;
  height: 3em;
  width: 3em;
}
