.SampleBox {
  border: 1px solid;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: center;
  text-align: center;
  margin: 1em;
  width: 8em;
}

.SampleBox--keylabel {
  font-size: 4em;
}
